/* 1200 wide 12 column grid */

.container {
  width: 1200px;
  margin: auto;
}

div[class*="span"] {
  box-sizing: border-box;
  float: left;
}

.clear {
  clear: both;
  width: 0;
  height: 0;
  visibility: hidden;
}

/* Columns */
.span-1 {
  width: 900px;
  margin-left: 10px;
}
.span-2 {
  width: 190px;
  margin-left: 10px;
}
.span-3 {
  width: 290px;
  margin-left: 10px;
}
.span-4 {
  width: 390px;
  margin-left: 10px;
}
.span-5 {
  width: 490px;
  margin-left: 10px;
}
.span-6 {
  width: 590px;
  margin-left: 10px;
}
.span-7 {
  width: 690px;
  margin-left: 10px;
}
.span-8 {
  width: 790px;
  margin-left: 10px;
}
.span-9 {
  width: 890px;
  margin-left: 10px;
}
.span-10 {
  width: 990px;
  margin-left: 10px;
}
.span-11 {
  width: 1090px;
  margin-left: 10px;
}
.span-12 {
  width: 1190px;
  margin-left: 10px;
}

/* Offsets */
.offset-1 {
  margin-left: 100px;
}
.offset-2 {
  margin-left: 200px;
}
.offset-3 {
  margin-left: 300px;
}
.offset-4 {
  margin-left: 400px;
}
.offset-5 {
  margin-left: 500px;
}
.offset-6 {
  margin-left: 600px;
}
.offset-7 {
  margin-left: 700px;
}
.offset-8 {
  margin-left: 800px;
}
.offset-9 {
  margin-left: 900px;
}
.offset-10 {
  margin-left: 1000px;
}
.offset-11 {
  margin-left: 1100px;
}
.offset-12 {
  margin-left: 1200px;
}
