/* Background colors */

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-dark {
  color: #264653;
}
.text-green {
  color: #2a9d8f;
}
.text-yellow {
  color: #e9c46a;
}
.text-orange {
  color: #f4a261;
}
.text-red {
  color: #e76f51;
}
