/* Background colors */

.text-dark { background-color: #264653; }
.text-green { background-color: #2A9D8F; }
.text-yellow { background-color: #E9C46A; }
.text-orange { background-color: #F4A261; }
.text-red { background-color: #E76F51; }